body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./img/bg.png");
  background-size: cover;
}
.bao-khung{
  padding-top: 15%;
  transition: 0.5s;
  display: flex;
  cursor: pointer;
  justify-content: space-evenly;
  /* justify-content: center; */
  padding-left: 2%;
}
.khung{
  /* background-color: black; */
  width: 323px;
  height: 580px;
  /* border-radius: 10px; */
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
#check1{
  background-image: url("./img/lì\ xì\ 1.png");
  background-size: cover;
}
#check2{
  background-image: url("./img/lì\ xì\ 2.png");
  background-size: cover;
}
#check3{
  background-image: url("./img/lì\ xì\ 3.png");
  background-size: cover;
}
#check4{
  background-image: url("./img/lì\ xì\ 4.png");
  background-size: cover;
}
.khung:hover{
  transform: translateY(-30px);
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 179, 179);
  background-color: rgba(255, 0, 0, 0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-size: 100% 100%;
  background-image: url("./img/popup.png");
  margin: auto;
  /* padding: 50px; */
  /* border: 1px solid #888; */
  width: 25%;
  height: 55%;
  background-repeat: no-repeat;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 45px;
  font-weight: bold;
  padding-right: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}